body {
  background: yellowgreen;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background: rgb(245, 243, 241);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
}

.nav-bar a {
  text-decoration: none;
}

header {
  text-align: center;
  position: relative;
}

.my-photo {
  border-radius: 50%;
  position: absolute;
  left: 65px;
  margin: 0 50px;
}

h1 {
  padding-top: 25px;
}

.data-container {
  margin: 90px 0;
  display: flex;
  justify-content: space-between;
}

aside {
  padding: 0 20px;
}

main {
  padding: 0 50px;
  border-left: 1px solid #000;
}

.contacts-data {
  padding: 0;
  list-style: none;
  line-height: 1.5em;
}

.contacts-data a {
  text-decoration: none;
}

.education-list {
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}

.education-list ul {
  padding: 0 20px;
  list-style-type: " - ";
}

.courses-list {
  padding: 0 20px;
  line-height: 1.5em;
}

.language-list {
  padding: 0 20px;
  line-height: 1.5em;
}

.skills-list {
  padding: 0 20px;
  line-height: 1.5em;
  list-style-type: " - ";
}

.code-example {
  background: rgb(216, 213, 213);
}

.project-list {
  padding: 0 20px;
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #000;
  font-size: 25px;
}
